@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Gamja+Flower&display=swap');
/* font-family: 'Cherry Bomb One', cursive;
font-family: 'Gamja Flower', cursive; */
*{margin: 0; padding: 0; box-sizing: border-box;}

.slide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 50px;
}
.text{
    position: fixed;
    left: 30px;
    top: 10px;
    z-index: 500;
    color: red;
    font-size: 100px;
}
.fixed-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide-content{
    font-size: 30px;
    position: relative;
    width: 60%;
    margin: 0 auto;
}
p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 50px auto;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin-top: 20px;
    font-family: 'Gamja Flower', cursive;
    font-size: 45px
}
.jp{
    font-family: 'Cherry Bomb One', cursive;
}

img{
    width: 80%;
    left: 50%;
    top: 50%;
}

.uppono{
    width: 50%;
}

.fin{
    width: 50%;
}